# Project: WeRateDogs Data Wrangling
## Introduction
> In This Project, I will be working with the WeRateDogs rating dataset which will be gathered from the three sources, then cleaned and merged. The Dataset is one that contains a lot of review data from the famous WeRateDogs Twitter archive. It contains so many interesting fields such as the text in the tweet, the time the tweet was released, the rating of the dogs in the tweet, the dog predictions and so much more.

In [1]:
#Loading Required Libraries
import tweepy
from tweepy import OAuthHandler
import json
from time import time as timer
import pandas as pd
from numpy import NaN
import requests
pd.set_option('display.max_columns', 33)

## Data Gathering.
### Importing the given dataset  `Twitter-archive-enhanced.csv`

In [2]:
original_data = pd.read_csv(r'Datasets\twitter-archive-enhanced.csv')

<b>Downloading the second dataset programmatically with the use of web scraping.</b>

In [3]:
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'


def file_downloader(url, filename):
    '''The Function takes in a url and uses web scrapping to download the file
    
Parameters:
url: str
    A valid url
filename: str
    Any valid string is acceptable
    '''
    r = requests.get(url)

    with open('Datasets\\' + filename + '.tsv', 'wb') as file:
        file.write(r.content)
    file.close()
    
    
file_downloader(url, 'image-predictions')

<b>Querying the Twitter API to get the third dataset.</b>

In [4]:
# These are hidden to comply with Twitter's API terms and conditions
consumer_key = 'HIDDEN'
consumer_secret = 'HIDDEN'
access_token = 'HIDDEN'
access_secret = 'HIDDEN'


def twitter(consumer_key, consumer_secret, access_token, access_secret, df, filename):
    '''The function queries the twitter api,downloads the results of the query and solves a given filename.
Parameters:
consumer_key: str
    The consumer key.
consumer_secret: str
    The consumer secret key.
access_token: str
    The access token need to access the Api.
access_secret: str
    The access secret token need to access the Api.
df: pandas.Series, list, tuple of elements.
    The series used to query the Api.
filename: str
    Any valid string is acceptable.
'''
    auth = OAuthHandler(consumer_key, consumer_secret)
    auth.set_access_token(access_token, access_secret)

    api = tweepy.API(auth, wait_on_rate_limit=True)

    tweet_ids = df.tweet_id.values

    # Query Twitter's API for JSON data for each tweet ID in the Twitter archive
    count = 0
    fails_dict = {}
    start = timer()
    # Save each tweet's returned JSON as a new line in a .txt file
    with open('Datasets\\' + filename+".txt", 'w') as outfile:
        for tweet_id in tweet_ids:
            count += 1
            print(str(count) + ": " + str(tweet_id))
            try:
                tweet = api.get_status(tweet_id, tweet_mode='extended')
                print("Success")
                json.dump(tweet._json, outfile)
                outfile.write('\n')
            except tweepy.TweepyException as e:
                print("Fail")
                fails_dict[tweet_id] = e
                pass
    end = timer()
    print(end - start)
    print(fails_dict)
    
    
twitter(consumer_key, consumer_secret, access_token, access_secret, original_data, 'tweet-json_updated')

## Data Assessment


#### Visual Assessment of the given dataset `twitter-archive-enhanced.csv`

In [5]:
original_data

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

#### Programmatic Assessment of the given dataset.

<b>A concise summary of the original_data DataFrame</b>

In [6]:
original_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

`Quality issue`: The timestamp, retweeted_status_timestamp columns have the string datatype(i.e object) instead of the datetime datatype.

<b>Checking the percentage of missing values in the original_data DataFrame.</b>

In [7]:
(original_data.isnull().sum()/original_data.shape[0]).sort_values(ascending=False) * 100

in_reply_to_user_id           96.689304
in_reply_to_status_id         96.689304
retweeted_status_timestamp    92.317487
retweeted_status_id           92.317487
retweeted_status_user_id      92.317487
expanded_urls                  2.504244
rating_denominator             0.000000
pupper                         0.000000
floofer                        0.000000
doggo                          0.000000
name                           0.000000
tweet_id                       0.000000
rating_numerator               0.000000
text                           0.000000
source                         0.000000
timestamp                      0.000000
puppo                          0.000000
dtype: float64

`Quality issue:` There are alot of missing values in the in_reply_to_user_id,in_reply_to_status_id, retweeted_status_timestamp,
retweeted_status_id, retweeted_status_user_id columns.

<b>Checking the descriptive statistics of the original_data dataframe.</b>

In [8]:
original_data.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

<b>The rating_numerator column has a minimum value of 0. A tweet can have a rating numerator of 0.<br>
In cases like this, the rating can mean that the tweet was very disappointing.</b>


<b>Checking the text of the tweets with a rating numerator of 0.</b>

In [9]:
for text in original_data[original_data.rating_numerator == 0]['text']:
    print(text)

When you're so blinded by your systematic plagiarism that you forget what day it is. 0/10 https://t.co/YbEJPkg4Ag
PUPDATE: can't see any. Even if I could, I couldn't reach them to pet. 0/10 much disappointment https://t.co/c7WXaB2nqX

`Tidiness issue:` Multiple variables are in a single column. The text column must be separated into three columns (text, rating, and text_link columns).<br>

`Quality issue:` Inaccurate data value, the rating_denominator column has a minimum value of 0,  which is not a valid denominator.

<b>Checking the text of tweets with a rating denominator of 0.</b>

In [10]:
original_data[original_data.rating_denominator == 0]['text'][313]

"@jonnysun @Lin_Manuel ok jomny I know you're excited but 960/00 isn't a valid rating, 13/10 is tho"

<b>Checking the unique values in the puppo, floofer, pupper, doggo and name columns.</b>

In [11]:
original_data.puppo.unique()

array(['None', 'puppo'], dtype=object)

In [12]:
original_data.floofer.unique()

array(['None', 'floofer'], dtype=object)

In [13]:
original_data.pupper.unique()

array(['None', 'pupper'], dtype=object)

In [14]:
original_data.doggo.unique()

array(['None', 'doggo'], dtype=object)

`Quality issue:` The puppo, floofer, pupper, name, and doggo columns have the string 'None' representing the missing values.

`Tidiness issue:` Column headers are values, not variable names(the doggo, floofer, pupper, puppo columns)

<b>Checking the list of unique items in the name column.</b>

In [16]:
original_data.name.unique()

array(['Phineas', 'Tilly', 'Archie', 'Darla', 'Franklin', 'None', 'Jax',
       'Zoey', 'Cassie', 'Koda', 'Bruno', 'Ted', 'Stuart', 'Oliver',
       'Jim', 'Zeke', 'Ralphus', 'Canela', 'Gerald', 'Jeffrey', 'such',
       'Maya', 'Mingus', 'Derek', 'Roscoe', 'Waffles', 'Jimbo', 'Maisey',
       'Lilly', 'Earl', 'Lola', 'Kevin', 'Yogi', 'Noah', 'Bella',
       'Grizzwald', 'Rusty', 'Gus', 'Stanley', 'Alfy', 'Koko', 'Rey',
       'Gary', 'a', 'Elliot', 'Louis', 'Jesse', 'Romeo', 'Bailey',
       'Duddles', 'Jack', 'Emmy', 'Steven', 'Beau', 'Snoopy', 'Shadow',
       'Terrance', 'Aja', 'Penny', 'Dante', 'Nelly', 'Ginger', 'Benedict',
       'Venti', 'Goose', 'Nugget', 'Cash', 'Coco', 'Jed', 'Sebastian',
       'Walter', 'Sierra', 'Monkey', 'Harry', 'Kody', 'Lassie', 'Rover',
       'Napolean', 'Dawn', 'Boomer', 'Cody', 'Rumble', 'Clifford',
       'quite', 'Dewey', 'Scout', 'Gizmo', 'Cooper', 'Harold', 'Shikha',
       'Jamesy', 'Lili', 'Sammy', 'Meatball', 'Paisley', 'Albus',
       'Neptune', 'Quinn', 'Belle', 'Zooey', 'Dave', 'Jersey', 'Hobbes',
       'Burt', 'Lorenzo', 'Carl', 'Jordy', 'Milky', 'Trooper', 'Winston',
       'Sophie', 'Wyatt', 'Rosie', 'Thor', 'Oscar', 'Luna', 'Callie',
       'Cermet', 'George', 'Marlee', 'Arya', 'Einstein', 'Alice',
       'Rumpole', 'Benny', 'Aspen', 'Jarod', 'Wiggles', 'General',
       'Sailor', 'Astrid', 'Iggy', 'Snoop', 'Kyle', 'Leo', 'Riley',
       'Gidget', 'Noosh', 'Odin', 'Jerry', 'Charlie', 'Georgie', 'Rontu',
       'Cannon', 'Furzey', 'Daisy', 'Tuck', 'Barney', 'Vixen', 'Jarvis',
       'Mimosa', 'Pickles', 'Bungalo', 'Brady', 'Margo', 'Sadie', 'Hank',
       'Tycho', 'Stephan', 'Indie', 'Winnie', 'Bentley', 'Ken', 'Max',
       'Maddie', 'Pipsy', 'Monty', 'Sojourner', 'Odie', 'Arlo', 'Sunny',
       'Vincent', 'Lucy', 'Clark', 'Mookie', 'Meera', 'Buddy', 'Ava',
       'Rory', 'Eli', 'Ash', 'Tucker', 'Tobi', 'Chester', 'Wilson',
       'Sunshine', 'Lipton', 'Gabby', 'Bronte', 'Poppy', 'Rhino',
       'Willow', 'not', 'Orion', 'Eevee', 'Smiley', 'Logan', 'Moreton',
       'Klein', 'Miguel', 'Emanuel', 'Kuyu', 'Dutch', 'Pete', 'Scooter',
       'Reggie', 'Kyro', 'Samson', 'Loki', 'Mia', 'Malcolm', 'Dexter',
       'Alfie', 'Fiona', 'one', 'Mutt', 'Bear', 'Doobert', 'Beebop',
       'Alexander', 'Sailer', 'Brutus', 'Kona', 'Boots', 'Ralphie',
       'Phil', 'Cupid', 'Pawnd', 'Pilot', 'Ike', 'Mo', 'Toby', 'Sweet',
       'Pablo', 'Nala', 'Balto', 'Crawford', 'Gabe', 'Mattie', 'Jimison',
       'Hercules', 'Duchess', 'Harlso', 'Sampson', 'Sundance', 'Luca',
       'Flash', 'Finn', 'Peaches', 'Howie', 'Jazzy', 'Anna', 'Bo',
       'Seamus', 'Wafer', 'Chelsea', 'Tom', 'Moose', 'Florence', 'Autumn',
       'Dido', 'Eugene', 'Herschel', 'Strudel', 'Tebow', 'Chloe', 'Betty',
       'Timber', 'Binky', 'Dudley', 'Comet', 'Larry', 'Levi', 'Akumi',
       'Titan', 'Olivia', 'Alf', 'Oshie', 'Bruce', 'Chubbs', 'Sky',
       'Atlas', 'Eleanor', 'Layla', 'Rocky', 'Baron', 'Tyr', 'Bauer',
       'Swagger', 'Brandi', 'Mary', 'Moe', 'Halo', 'Augie', 'Craig',
       'Sam', 'Hunter', 'Pavlov', 'Maximus', 'Wallace', 'Ito', 'Milo',
       'Ollie', 'Cali', 'Lennon', 'incredibly', 'Major', 'Duke',
       'Reginald', 'Sansa', 'Shooter', 'Django', 'Diogi', 'Sonny',
       'Philbert', 'Marley', 'Severus', 'Ronnie', 'Anakin', 'Bones',
       'Mauve', 'Chef', 'Doc', 'Sobe', 'Longfellow', 'Mister', 'Iroh',
       'Baloo', 'Stubert', 'Paull', 'Timison', 'Davey', 'Pancake',
       'Tyrone', 'Snicku', 'Ruby', 'Brody', 'Rizzy', 'Mack', 'Butter',
       'Nimbus', 'Laika', 'Dobby', 'Juno', 'Maude', 'Lily', 'Newt',
       'Benji', 'Nida', 'Robin', 'Monster', 'BeBe', 'Remus', 'Mabel',
       'Misty', 'Happy', 'Mosby', 'Maggie', 'Leela', 'Ralphy', 'Brownie',
       'Meyer', 'Stella', 'mad', 'Frank', 'Tonks', 'Lincoln', 'Oakley',
       'Dale', 'Rizzo', 'Arnie', 'Pinot', 'Dallas', 'Hero', 'Frankie',
       'Stormy', 'Mairi', 'Loomis', 'Godi', 'Kenny', 'Deacon', 'Timmy',
       'Harper', 'Chipson', 'Combo', 'Dash', 'Bell', 'Hurley', 'Jay',
       'Mya', 'Strider', 'an', 'Wesley', 'Solomon', 'Huck', 'very', 'O',
       'Blue', 'Finley', 'Sprinkles', 'Heinrich', 'Shakespeare', 'Fizz',
       'Chip', 'Grey', 'Roosevelt', 'Gromit', 'Willem', 'Dakota', 'Dixie',
       'Al', 'Jackson', 'just', 'Carbon', 'DonDon', 'Kirby', 'Lou',
       'Nollie', 'Chevy', 'Tito', 'Louie', 'Rupert', 'Rufus', 'Brudge',
       'Shadoe', 'Colby', 'Angel', 'Brat', 'Tove', 'my', 'Aubie', 'Kota',
       'Eve', 'Glenn', 'Shelby', 'Sephie', 'Bonaparte', 'Albert',
       'Wishes', 'Rose', 'Theo', 'Rocco', 'Fido', 'Emma', 'Spencer',
       'Lilli', 'Boston', 'Brandonald', 'Corey', 'Leonard', 'Chompsky',
       'Beckham', 'Devón', 'Gert', 'Watson', 'Rubio', 'Keith', 'Dex',
       'Carly', 'Ace', 'Tayzie', 'Grizzie', 'Fred', 'Gilbert', 'Zoe',
       'Stewie', 'Calvin', 'Lilah', 'Spanky', 'Jameson', 'Piper',
       'Atticus', 'Blu', 'Dietrich', 'Divine', 'Tripp', 'his', 'Cora',
       'Huxley', 'Keurig', 'Bookstore', 'Linus', 'Abby', 'Shaggy',
       'Shiloh', 'Gustav', 'Arlen', 'Percy', 'Lenox', 'Sugar', 'Harvey',
       'Blanket', 'actually', 'Geno', 'Stark', 'Beya', 'Kilo', 'Kayla',
       'Maxaroni', 'Doug', 'Edmund', 'Aqua', 'Theodore', 'Chase',
       'getting', 'Rorie', 'Simba', 'Charles', 'Bayley', 'Axel',
       'Storkson', 'Remy', 'Chadrick', 'Kellogg', 'Buckley', 'Livvie',
       'Terry', 'Hermione', 'Ralpher', 'Aldrick', 'this', 'unacceptable',
       'Rooney', 'Crystal', 'Ziva', 'Stefan', 'Pupcasso', 'Puff',
       'Flurpson', 'Coleman', 'Enchilada', 'Raymond', 'all', 'Rueben',
       'Cilantro', 'Karll', 'Sprout', 'Blitz', 'Bloop', 'Lillie',
       'Ashleigh', 'Kreggory', 'Sarge', 'Luther', 'Ivar', 'Jangle',
       'Schnitzel', 'Panda', 'Berkeley', 'Ralphé', 'Charleson', 'Clyde',
       'Harnold', 'Sid', 'Pippa', 'Otis', 'Carper', 'Bowie',
       'Alexanderson', 'Suki', 'Barclay', 'Skittle', 'Ebby', 'Flávio',
       'Smokey', 'Link', 'Jennifur', 'Ozzy', 'Bluebert', 'Stephanus',
       'Bubbles', 'old', 'Zeus', 'Bertson', 'Nico', 'Michelangelope',
       'Siba', 'Calbert', 'Curtis', 'Travis', 'Thumas', 'Kanu', 'Lance',
       'Opie', 'Kane', 'Olive', 'Chuckles', 'Staniel', 'Sora', 'Beemo',
       'Gunner', 'infuriating', 'Lacy', 'Tater', 'Olaf', 'Cecil', 'Vince',
       'Karma', 'Billy', 'Walker', 'Rodney', 'Klevin', 'Malikai',
       'Bobble', 'River', 'Jebberson', 'Remington', 'Farfle', 'Jiminus',
       'Clarkus', 'Finnegus', 'Cupcake', 'Kathmandu', 'Ellie', 'Katie',
       'Kara', 'Adele', 'Zara', 'Ambrose', 'Jimothy', 'Bode', 'Terrenth',
       'Reese', 'Chesterson', 'Lucia', 'Bisquick', 'Ralphson', 'Socks',
       'Rambo', 'Rudy', 'Fiji', 'Rilo', 'Bilbo', 'Coopson', 'Yoda',
       'Millie', 'Chet', 'Crouton', 'Daniel', 'Kaia', 'Murphy', 'Dotsy',
       'Eazy', 'Coops', 'Fillup', 'Miley', 'Charl', 'Reagan', 'Yukon',
       'CeCe', 'Cuddles', 'Claude', 'Jessiga', 'Carter', 'Ole', 'Pherb',
       'Blipson', 'Reptar', 'Trevith', 'Berb', 'Bob', 'Colin', 'Brian',
       'Oliviér', 'Grady', 'Kobe', 'Freddery', 'Bodie', 'Dunkin', 'Wally',
       'Tupawc', 'Amber', 'Edgar', 'Teddy', 'Kingsley', 'Brockly',
       'Richie', 'Molly', 'Vinscent', 'Cedrick', 'Hazel', 'Lolo', 'Eriq',
       'Phred', 'the', 'Oddie', 'Maxwell', 'Geoff', 'Covach', 'Durg',
       'Fynn', 'Ricky', 'Herald', 'Lucky', 'Ferg', 'Trip', 'Clarence',
       'Hamrick', 'Brad', 'Pubert', 'Frönq', 'Derby', 'Lizzie', 'Ember',
       'Blakely', 'Opal', 'Marq', 'Kramer', 'Barry', 'Gordon', 'Baxter',
       'Mona', 'Horace', 'Crimson', 'Birf', 'Hammond', 'Lorelei', 'Marty',
       'Brooks', 'Petrick', 'Hubertson', 'Gerbald', 'Oreo', 'Bruiser',
       'Perry', 'Bobby', 'Jeph', 'Obi', 'Tino', 'Kulet', 'Sweets', 'Lupe',
       'Tiger', 'Jiminy', 'Griffin', 'Banjo', 'Brandy', 'Lulu', 'Darrel',
       'Taco', 'Joey', 'Patrick', 'Kreg', 'Todo', 'Tess', 'Ulysses',
       'Toffee', 'Apollo', 'Asher', 'Glacier', 'Chuck', 'Champ', 'Ozzie',
       'Griswold', 'Cheesy', 'Moofasa', 'Hector', 'Goliath', 'Kawhi',
       'by', 'Emmie', 'Penelope', 'Willie', 'Rinna', 'Mike', 'William',
       'Dwight', 'Evy', 'officially', 'Rascal', 'Linda', 'Tug', 'Tango',
       'Grizz', 'Jerome', 'Crumpet', 'Jessifer', 'Izzy', 'Ralph', 'Sandy',
       'Humphrey', 'Tassy', 'Juckson', 'Chuq', 'Tyrus', 'Karl',
       'Godzilla', 'Vinnie', 'Kenneth', 'Herm', 'Bert', 'Striker',
       'Donny', 'Pepper', 'Bernie', 'Buddah', 'Lenny', 'Arnold', 'Zuzu',
       'Mollie', 'Laela', 'Tedders', 'Superpup', 'Rufio', 'Jeb', 'Rodman',
       'Jonah', 'Chesney', 'life', 'Henry', 'Bobbay', 'Mitch', 'Kaiya',
       'Acro', 'Aiden', 'Obie', 'Dot', 'Shnuggles', 'Kendall', 'Jeffri',
       'Steve', 'Mac', 'Fletcher', 'Kenzie', 'Pumpkin', 'Schnozz',
       'Gustaf', 'Cheryl', 'Ed', 'Leonidas', 'Norman', 'Caryl', 'Scott',
       'Taz', 'Darby', 'Jackie', 'light', 'Jazz', 'Franq', 'Pippin',
       'Rolf', 'Snickers', 'Ridley', 'Cal', 'Bradley', 'Bubba', 'Tuco',
       'Patch', 'Mojo', 'Batdog', 'Dylan', 'space', 'Mark', 'JD',
       'Alejandro', 'Scruffers', 'Pip', 'Julius', 'Tanner', 'Sparky',
       'Anthony', 'Holly', 'Jett', 'Amy', 'Sage', 'Andy', 'Mason',
       'Trigger', 'Antony', 'Creg', 'Traviss', 'Gin', 'Jeffrie', 'Danny',
       'Ester', 'Pluto', 'Bloo', 'Edd', 'Willy', 'Herb', 'Damon',
       'Peanut', 'Nigel', 'Butters', 'Sandra', 'Fabio', 'Randall', 'Liam',
       'Tommy', 'Ben', 'Raphael', 'Julio', 'Andru', 'Kloey', 'Shawwn',
       'Skye', 'Kollin', 'Ronduh', 'Billl', 'Saydee', 'Dug', 'Tessa',
       'Sully', 'Kirk', 'Ralf', 'Clarq', 'Jaspers', 'Samsom', 'Harrison',
       'Chaz', 'Jeremy', 'Jaycob', 'Lambeau', 'Ruffles', 'Amélie', 'Bobb',
       'Banditt', 'Kevon', 'Winifred', 'Hanz', 'Churlie', 'Zeek',
       'Timofy', 'Maks', 'Jomathan', 'Kallie', 'Marvin', 'Spark',
       'Gòrdón', 'Jo', 'DayZ', 'Jareld', 'Torque', 'Ron', 'Skittles',
       'Cleopatricia', 'Erik', 'Stu', 'Tedrick', 'Filup', 'Kial',
       'Naphaniel', 'Dook', 'Hall', 'Philippe', 'Biden', 'Fwed',
       'Genevieve', 'Joshwa', 'Bradlay', 'Clybe', 'Keet', 'Carll',
       'Jockson', 'Josep', 'Lugan', 'Christoper'], dtype=object)

`Quality issue:` After visual assessment of the unique elements in the name columns,the words 'a', 'not', 'one', 'an','very', 'O', 'my', 'his', 'this', 'all', 'the', 'by', 'such', 'quite', 'quite', 'quite', 'incredibly', 'mad', 'just', 'actually', 'just', 'getting', 'mad', 'unacceptable', 'old', 'infuriating', 'getting', 'just', 'actually', 'officially', 'life', 'light', 'just', 'space', 'quite' were extracted being invalid names, this are missing values.

<b>Checking the first five elements in the source column.</b>

In [17]:
for link in original_data.source.head():
    print(link)

<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>
<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>

`Tidiness issue:` Multiple variables in a column. The source column must be separated into two columns (the source link and source text columns).

<b>Checking for duplicates in original_data dataframe.</b>

In [18]:
sum(original_data.duplicated())

0

### Importing the file downloaded using web scrapping `image-predictions.tsv`

In [19]:
image_data = pd.read_csv(r'Datasets\image-predictions.tsv', sep='\t')

#### Visual Assessment of the dataset downloaded programmatically `image-predictions.tsv`

In [20]:
image_data

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

`Observation`: The values in the p1, p2, p3 columns are not case consistent.

#### Programmatic Assessment of the image-prediction dataset.

<b>A concise summary of the image_data DataFrame.</b>

In [21]:
image_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

<b>Checking the percentage of missing values in the image_data DataFrame.</b>

In [22]:
(image_data.isnull().sum()/image_data.shape[0]).sort_values(ascending=False) * 100

tweet_id    0.0
jpg_url     0.0
img_num     0.0
p1          0.0
p1_conf     0.0
p1_dog      0.0
p2          0.0
p2_conf     0.0
p2_dog      0.0
p3          0.0
p3_conf     0.0
p3_dog      0.0
dtype: float64

<b>The image_data dataframe has no missing values.</b>

<b>Checking the descriptive statistics of the image_data dataframe.</b>

In [23]:
image_data.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

<b>Checking for duplicates in the image_data dataframe.</b>

In [24]:
sum(image_data.duplicated())

0

<b>Checking the unique values in the p1_dog, p2_dog and p3_dog columns.</b>

In [25]:
image_data.p1_dog.unique()

array([ True, False])

In [26]:
image_data.p2_dog.unique()

array([ True, False])

In [27]:
image_data.p3_dog.unique()

array([ True, False])

`Observation:` The jpg_url, img_num, p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog columns should be renamed for clarity.

#### Opening the file downloaded using the Twitter API <u>`tweet-json.txt`</u>

In [28]:
tweet_file = open('tweet-json.txt',enconding='utf-8')  # opening and reading the file
text = tweet_file.read()
tweet_file.close()  # closing the file

dictionary = dict()  # making an empty dictionary to store values
count = 0
for file in text.split("\n")[:-1]:
    count += 1
    file = json.loads(file)  # converting strings to dictionaries
    dictionary[f'No {count}'] = file  # adding to the dictionary `dictionary`

File = open(r'Datasets\tweet-json_updated.txt', 'w')  # opening a new file
json.dump(dictionary, File)  # writing the dictionary object to file
File.close()  # closing the file

### Importing the newly created file `tweet-json_updated.txt`

In [29]:
api_data = pd.read_json(r'Datasets\tweet-json_updated.txt').transpose()

#### Visual Assessment of the api_data dataframe `tweet-json_updated.txt`

In [30]:
api_data

,created_at,id,id_str,full_text,truncated,display_text_range,entities,extended_entities,source,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,in_reply_to_screen_name,user,geo,coordinates,place,contributors,is_quote_status,retweet_count,favorite_count,favorited,retweeted,possibly_sensitive,possibly_sensitive_appealable,lang,retweeted_status,quoted_status_id,quoted_status_id_str,quoted_status
No 1,Tue Aug 01 16:23:56 +0000 2017,892420643555336193,892420643555336193,This is Phineas. He's a mystical boy. Only eve...,False,"[0, 85]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892420639486877696, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",None,None,None,None,None,"{'id': 4196983835, 'id_str': '4196983835', 'na...",None,None,None,None,False,8853,39467,False,False,False,False,en,NaN,NaN,NaN,NaN
No 2,Tue Aug 01 00:17:27 +0000 2017,892177421306343426,892177421306343426,This is Tilly. She's just checking pup on you....,False,"[0, 138]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 892177413194625024, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",None,None,None,None,None,"{'id': 4196983835, 'id_str': '4196983835', 'na...",None,None,None,None,False,6514,33819,False,False,False,False,en,NaN,NaN,NaN,NaN
No 3,Mon Jul 31 00:18:03 +0000 2017,891815181378084864,891815181378084864,This is Archie. He is a rare Norwegian Pouncin...,False,"[0, 121]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891815175371796480, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",None,None,None,None,None,"{'id': 4196983835, 'id_str': '4196983835', 'na...",None,None,None,None,False,4328,25461,False,False,False,False,en,NaN,NaN,NaN,NaN
No 4,Sun Jul 30 15:58:51 +0000 2017,891689557279858688,891689557279858688,This is Darla. She commenced a snooze mid meal...,False,"[0, 79]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 891689552724799489, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",None,None,None,None,None,"{'id': 4196983835, 'id_str': '4196983835', 'na...",None,None,None,None,False,8964,42908,False,False,False,False,en,NaN,NaN,NaN,NaN
No 5,Sat Jul 29 16:00:24 +0000 2017,891327558926688256,891327558926688256,This is Franklin. He would like you to stop ca...,False,"[0, 138]","{'hashtags': [{'text': 'BarkWeek', 'indices': ...","{'media': [{'id': 891327551943041024, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",None,None,None,None,None,"{'id': 4196983835, 'id_str': '4196983835', 'na...",None,None,None,None,False,9774,41048,False,False,False,False,en,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
No 2350,Mon Nov 16 00:24:50 +0000 2015,666049248165822465,666049248165822465,Here we have a 1949 1st generation vulpix. Enj...,False,"[0, 120]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666049244999131136, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",None,None,None,None,None,"{'id': 4196983835, 'id_str': '4196983835', 'na...",None,None,None,None,False,41,111,False,False,False,False,en,NaN,NaN,NaN,NaN
No 2351,Mon Nov 16 00:04:52 +0000 2015,666044226329800704,666044226329800704,This is a purebred Piers Morgan. Loves to Netf...,False,"[0, 137]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666044217047650304, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",None,None,None,None,None,"{'id': 4196983835, 'id_str': '4196983835', 'na...",None,None,None,None,False,147,311,False,False,False,False,en,NaN,NaN,NaN,NaN
No 2352,Sun Nov 15 23:21:54 +0000 2015,666033412701032449,666033412701032449,Here is a very happy pup. Big fan of well-main...,False,"[0, 130]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666033409081393153, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",None,None,None,None,None,"{'id': 4196983835, 'id_str': '4196983835', 'na...",None,None,None,None,False,47,128,False,False,False,False,en,NaN,NaN,NaN,NaN
No 2353,Sun Nov 15 23:05:30 +0000 2015,666029285002620928,666029285002620928,This is a western brown Mitsubishi terrier. Up...,False,"[0, 139]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666029276303482880, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",None,None,None,None,None,"{'id': 4196983835, 'id_str': '4196983835', 'na...",None,None,None,None,False,48,132,False,False,False,False,en,NaN,NaN,NaN,NaN
No 2354,Sun Nov 15 22:32:08 +0000 2015,666020888022790149,666020888022790149,Here we have a Japanese Irish Setter. Lost eye...,False,"[0, 131]","{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 666020881337073664, 'id_str'...","<a href=""http://twitter.com/download/iphone"" r...",None,None,None,None,None,"{'id': 4196983835, 'id_str': '4196983835', 'na...",None,None,None,None,False,532,2535,False,False,False,False,en,NaN,NaN,NaN,NaN

`Tidiness issue:` Multiple variables in the display_text_range column.<br>

`Tidiness issue:` Multiple variables in the entities, extended_entities, user, place, retweeted_status, and quoted_status columns contained in dictionaries, they should be removed from the dataframe and used to form new tables.<br>

In [31]:
sum(api_data.id.astype(str) == api_data.id_str)

2354

`Quality issue:` duplicate columns id, id_str. One needs to be dropped.

#### Programmatic Assessment of the Tweeter API dataset.

<b>A concise summary of the api_data DataFrame.</b>

In [32]:
api_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2354 entries, No 1 to No 2354
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   created_at                     2354 non-null   object
 1   id                             2354 non-null   object
 2   id_str                         2354 non-null   object
 3   full_text                      2354 non-null   object
 4   truncated                      2354 non-null   object
 5   display_text_range             2354 non-null   object
 6   entities                       2354 non-null   object
 7   extended_entities              2073 non-null   object
 8   source                         2354 non-null   object
 9   in_reply_to_status_id          78 non-null     object
 10  in_reply_to_status_id_str      78 non-null     object
 11  in_reply_to_user_id            78 non-null     object
 12  in_reply_to_user_id_str        78 non-null     object
 13  in_reply_to_screen_name        78 non-null     object
 14  user                           2354 non-null   object
 15  geo                            0 non-null      object
 16  coordinates                    0 non-null      object
 17  place                          1 non-null      object
 18  contributors                   0 non-null      object
 19  is_quote_status                2354 non-null   object
 20  retweet_count                  2354 non-null   object
 21  favorite_count                 2354 non-null   object
 22  favorited                      2354 non-null   object
 23  retweeted                      2354 non-null   object
 24  possibly_sensitive             2211 non-null   object
 25  possibly_sensitive_appealable  2211 non-null   object
 26  lang                           2354 non-null   object
 27  retweeted_status               179 non-null    object
 28  quoted_status_id               29 non-null     object
 29  quoted_status_id_str           29 non-null     object
 30  quoted_status                  28 non-null     object
dtypes: object(31)
memory usage: 653.0+ KB

`Quality issue:` Incorrect Datatype; the created_at column has string datatype(object) instead of the DateTime datatype.

`Quality issue:` Incorrect Datatype; the  retweet_count, favorite_count columns have string datatype(object) instead of the integer datatype.

`Quality issue:` Incorrect Datatype,the truncated, favorited, retweeted, possibly_sensitive, possibly_sensitive_appealable columns have string datatype(i.e object) instead of boolean datatype.

<b>Checking the percentage of missing values in the api_data DataFrame.</b>

In [33]:
(api_data.isnull().sum()/api_data.shape[0]).sort_values(ascending=False) * 100

geo                              100.000000
coordinates                      100.000000
contributors                     100.000000
place                             99.957519
quoted_status                     98.810535
quoted_status_id_str              98.768054
quoted_status_id                  98.768054
in_reply_to_status_id             96.686491
in_reply_to_status_id_str         96.686491
in_reply_to_user_id               96.686491
in_reply_to_user_id_str           96.686491
in_reply_to_screen_name           96.686491
retweeted_status                  92.395922
extended_entities                 11.937128
possibly_sensitive_appealable      6.074766
possibly_sensitive                 6.074766
display_text_range                 0.000000
favorite_count                     0.000000
lang                               0.000000
retweeted                          0.000000
favorited                          0.000000
id_str                             0.000000
retweet_count                      0.000000
is_quote_status                    0.000000
entities                           0.000000
full_text                          0.000000
truncated                          0.000000
id                                 0.000000
user                               0.000000
source                             0.000000
created_at                         0.000000
dtype: float64

`Quality issue:` Missing Values in the the coordinates, geo, contributors, place,
quoted_status, quoted_status_id_str, quoted_status_id, 
in_reply_to_status_id, in_reply_to_status_id_str, in_reply_to_user_id, in_reply_to_user_id_str,
in_reply_to_screen_name, retweeted_status, extended_entities, possibly_sensitive_appealable,
possibly_sensitive columns

<b>Checking the descriptive statistics of the api_data dataframe.</b>

In [34]:
api_data.describe().transpose()

,count,unique,top,freq
created_at,2354,2354,Tue Aug 01 16:23:56 +0000 2017,1
id,2354,2354,892420643555336193,1
id_str,2354,2354,892420643555336193,1
full_text,2354,2354,This is Phineas. He's a mystical boy. Only eve...,1
truncated,2354,1,False,2354
display_text_range,2354,143,"[0, 140]",260
entities,2354,2253,"{'hashtags': [], 'symbols': [], 'user_mentions...",75
extended_entities,2073,2073,"{'media': [{'id': 892420639486877696, 'id_str'...",1
source,2354,4,"<a href=""http://twitter.com/download/iphone"" r...",2219
in_reply_to_status_id,78,77,667152164079423490,2
in_reply_to_status_id_str,78,77,667152164079423490,2
in_reply_to_user_id,78,31,4196983835,47
in_reply_to_user_id_str,78,31,4196983835,47
in_reply_to_screen_name,78,31,dog_rates,47
user,2354,79,"{'id': 4196983835, 'id_str': '4196983835', 'na...",225
geo,0,0,NaN,NaN
coordinates,0,0,NaN,NaN
place,1,1,"{'id': '7356b662670b2c31', 'url': 'https://api...",1
contributors,0,0,NaN,NaN
is_quote_status,2354,2,False,2323
retweet_count,2354,1724,1972,5
favorite_count,2354,2007,0,179
favorited,2354,2,False,2346
retweeted,2354,1,False,2354
possibly_sensitive,2211,1,False,2211
possibly_sensitive_appealable,2211,1,False,2211
lang,2354,9,en,2336
retweeted_status,179,179,{'created_at': 'Sat Jul 15 02:44:07 +0000 2017...,1
quoted_status_id,29,29,886053434075471873,1
quoted_status_id_str,29,29,886053434075471873,1
quoted_status,28,28,{'created_at': 'Thu Jul 13 15:12:47 +0000 2017...,1

`Observation:` Every element in the truncated, retweeted columns has the value False. These Columns should be dropped, seeing they are too monotonous to offer any insight into our data.

<b>Checking the unique values in the lang and source columns.</b>

In [35]:
api_data.lang.unique()

array(['en', 'und', 'in', 'eu', 'es', 'nl', 'tl', 'ro', 'et'],
      dtype=object)

In [36]:
api_data.source.unique()

array(['<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
       '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>',
       '<a href="http://vine.co" rel="nofollow">Vine - Make a Scene</a>',
       '<a href="https://about.twitter.com/products/tweetdeck" rel="nofollow">TweetDeck</a>'],
      dtype=object)

`Tidiness issue:` Multiple variables in the source column should be split into two distinct columns (the source link and source text columns).


<b>Checking the first first elements in the full_text column.</b>

In [37]:
for text in api_data.full_text.head():
    print(text)

This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU
This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV
This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB
This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ
This is Franklin. He would like you to stop calling him "cute." He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f

`Tidyness Issue:` Multiple variables stored in one column (i.e text). The full_text column should be separated into 3 columns (i.e text, rating and text_link columns).<br>

## Data Cleaning

<b><i><u>Original_data Dataframe Quality Issues</u></i></b>
<ol>
<li>There are alot of missing values in the in_reply_to_user_id,in_reply_to_status_id, retweeted_status_timestamp, retweeted_status_id, retweeted_status_user_id and expanded_urls columns.</li>
<li>The timestamp, retweeted_status_timestamp columns have the string datatype(i.e object) instead of the datetime datatype.</li>
<li>Inaccurate data value, the rating_denominator column has a minimum value of 0, which is not a valid denominator.</li>
<li>The puppo, floofer, pupper, name, and doggo columns have the string 'None' representing the missing values, they should be replaced with NAN values.</li>
<li>After visual assessment of the unique elements in the name columns,the words 'a', 'not', 'one', 'an','very', 'O', 'my', 'his', 'this', 'all', 'the', 'by', 'such', 'quite', 'quite', 'quite', 'incredibly', 'mad', 'just', 'actually', 'just', 'getting', 'mad', 'unacceptable', 'old', 'infuriating', 'getting', 'just', 'actually', 'officially', 'life', 'light', 'just', 'space', 'quite' were extracted being invalid names, this are missing values.</li>
</ol>

<b>Making a copy of the original_data.</b>

In [38]:
original_data_copy = original_data.copy()
api_data_copy = api_data.copy()
image_data_copy = image_data.copy()

**Define**:<br>
Missing Values in multiple columns
- Drop the columns in_reply_to_user_id,in_reply_to_status_id, retweeted_status_timestamp, retweeted_status_id, retweeted_status_user_id.
- Use the dropna method to drop the rows in which in which the expanded_urls column has missing values.

**Code**

In [39]:
# dropping columns with missing values
original_data_copy.drop(columns=['in_reply_to_user_id', 'in_reply_to_status_id', 'retweeted_status_timestamp', 'retweeted_status_id', 'retweeted_status_user_id'], inplace=True)
original_data_copy.dropna(subset=['expanded_urls'], inplace=True)

**Test**

In [40]:
original_data_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2297 entries, 0 to 2355
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2297 non-null   int64
 1   timestamp           2297 non-null   object
 2   source              2297 non-null   object
 3   text                2297 non-null   object
 4   expanded_urls       2297 non-null   object
 5   rating_numerator    2297 non-null   int64
 6   rating_denominator  2297 non-null   int64
 7   name                2297 non-null   object
 8   doggo               2297 non-null   object
 9   floofer             2297 non-null   object
 10  pupper              2297 non-null   object
 11  puppo               2297 non-null   object
dtypes: int64(3), object(9)
memory usage: 233.3+ KB

**Define** <br>
The timestamp, retweeted_status_timestamp columns have the string datatype(i.e object) instead of the datetime datatype.
The retweeted_status_timestamp column was dropped due to its high percentage of missing values.<br>
- Change the datatype of the timestamp column using the pd.to_datetime function.

**Code**

In [41]:
original_data_copy['timestamp'] = pd.to_datetime(original_data_copy['timestamp'])

**Test**

In [42]:
# checking the datatype of the timestamp column
original_data_copy.timestamp.dtype

datetime64[ns, UTC]

**Define**<br>
Inaccurate data value; the rating_denominator column has a minimum value of 0 which is not a valid denominator.<br>
- Drop the row in which the rating_denominator column has a value of 0.

**Code**

In [43]:
original_data_copy = original_data_copy[original_data_copy.rating_denominator != 0]

**Test**

In [44]:
# checking the rating_denominator column for rows that has the value of zero
print(any(original_data_copy.rating_denominator == 0))

False

**Define**<br>
The puppo, floofer, pupper, name, and doggo columns have the string 'None' representing the missing values, they should be replaced with NAN values.<br>
- Use the str.replace to replace the 'None' strings with a NaN values(Not a Number Values).

**Code**

In [45]:
dog_columns = ['puppo', 'floofer', 'pupper', 'name', 'doggo']
for dog_column in dog_columns:
    original_data_copy[dog_column] = original_data_copy[dog_column].replace('None', NaN)

**Test**

In [46]:
original_data_copy[['puppo', 'floofer', 'pupper', 'name', 'doggo']].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2297 entries, 0 to 2355
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   puppo    29 non-null     object
 1   floofer  10 non-null     object
 2   pupper   255 non-null    object
 3   name     1611 non-null   object
 4   doggo    94 non-null     object
dtypes: object(5)
memory usage: 107.7+ KB

**Define**<br>
After visual assessment of the unique elements in the name columns,the words 'a', 'not', 'one', 'an','very', 'O', 'my', 'his', 'this', 'all', 'the', 'by', 'such', 'quite', 'quite', 'quite', 'incredibly', 'mad', 'just', 'actually', 'just', 'getting', 'mad', 'unacceptable', 'old', 'infuriating', 'getting', 'just', 'actually', 'officially', 'life', 'light', 'just', 'space', 'quite' were extracted being invalid names, this are missing values.<br>
- Replace the invalid names with using the replace method NaN values(Not a Number Values).

**Code**

In [47]:
Invalid_Names = [ 'a', 'not', 'one', 'an','very', 'O', 'my', 'his', 'this', 'all', 'the', 'by', 'such', 'quite', 'quite',
                 'quite', 'incredibly', 'mad', 'just', 'actually', 'just', 'getting', 'mad', 'unacceptable', 'old',
                 'infuriating', 'getting', 'just', 'actually', 'officially', 'life', 'light', 'just', 'space', 'quite' ]
for Invalid_Name in Invalid_Names:
    original_data_copy.name = original_data_copy.name.replace(Invalid_Name, NaN)

**Test**

In [48]:
List = []
#checking the name columns for the invalid names and appending false to the list if False
for item in Invalid_Names:
    if item in original_data_copy.name.unique():
        List.append(True)
    else:
        List.append(False)

# There are no items in the invalid name list left in the name column
any(List)

False

<b><i><u>Api_data Dataframe Quality Issues</u></i></b>
<ol>
    <li>duplicate columns id, id_str. One needs to be dropped.</li>
    <li>Incorrect Datatype; the created_at column has string datatype(object) instead of the DateTime datatype.</li>
    <li>Incorrect Datatype; the truncated, favorited, retweeted, possibly_sensitive, possibly_sensitive_appealable columns have string datatype(i.e object) instead of boolean datatype.</li>
    <li>Missing Values in the the coordinates, geo, contributors, place, quoted_status,  quoted_status_id_str, quoted_status_id, in_reply_to_status_id, in_reply_to_status_id_str, in_reply_to_user_id, in_reply_to_user_id_str, in_reply_to_screen_name, retweeted_status, extended_entities, possibly_sensitive_appealable, possibly_sensitive columns.</li>
    <li>Incorrect Datatype; the  retweet_count, favorite_count columns have string datatype(object) instead of the integer datatype.</li>
</ol>

**Define**<br>
Duplicate columns id, id_str in the api_data dataframe, one needs to be dropped.<br>
- Drop the id_str column.

**Code**

In [49]:
api_data_copy.drop(columns='id_str', inplace=True)

**Test**

In [50]:
#checking if the id_str column was removed
'id_str' in api_data_copy.columns

False

**Define**<br>
Incorrect Datatype; the created_at column has string datatype(object) instead of the DateTime datatype.
- Change the datatype of the created_at column using the pd.to_datetime function.

**Code**

In [51]:
api_data_copy.created_at = pd.to_datetime(api_data_copy.created_at)

**Test**

In [52]:
#checking the datatype of the created_at column.
api_data_copy.created_at.dtype

datetime64[ns, UTC]

**Define**<br>
Incorrect Datatype; the truncated, favorited, retweeted, possibly_sensitive, possibly_sensitive_appealable columns have string datatype(i.e object) instead of boolean datatype.<br>
- Use the astype method to change the datatype of the truncated, favorited, retweeted, possibly_sensitive, possibly_sensitive_appealable columns.

**Code**

In [53]:
Bool_columns = ['truncated', 'favorited', 'retweeted', 'possibly_sensitive', 'possibly_sensitive_appealable']

for bool_column in Bool_columns:
    api_data_copy[bool_column] = api_data_copy[bool_column].astype(bool)

**Test**

In [54]:
# checking the datatype of the columns in the bool_columns list
api_data_copy[Bool_columns].dtypes

truncated                        bool
favorited                        bool
retweeted                        bool
possibly_sensitive               bool
possibly_sensitive_appealable    bool
dtype: object

**Define**<br>
Missing values in multiple columns.<br>
- Drop the the coordinates, geo, contributors, place, quoted_status, quoted_status_permalinks, quoted_status_id_str, quoted_status_id, in_reply_to_status_id, in_reply_to_status_id_str, in_reply_to_user_id, in_reply_to_user_id_str, in_reply_to_screen_name, retweeted_status, extended_entities, possibly_sensitive_appealable, possibly_sensitive columns.
- Use the dropna method to drop the rows in which in which the extended_entities, possibly_sensitive_appealable, possibly_sensitive column has missing values.

**Code**

In [55]:
columns_drop = ['coordinates', 'geo', 'contributors', 'place', 'quoted_status', 'quoted_status_id_str', 'quoted_status_id', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'retweeted_status']
subset = ['extended_entities', 'possibly_sensitive_appealable', 'possibly_sensitive']

api_data_copy.drop(columns=columns_drop, inplace=True)
api_data_copy.dropna(subset=subset, inplace=True)

**Test**

In [56]:
#checking the dataframe
api_data_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2073 entries, No 1 to No 2354
Data columns (total 17 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   created_at                     2073 non-null   datetime64[ns, UTC]
 1   id                             2073 non-null   object
 2   full_text                      2073 non-null   object
 3   truncated                      2073 non-null   bool
 4   display_text_range             2073 non-null   object
 5   entities                       2073 non-null   object
 6   extended_entities              2073 non-null   object
 7   source                         2073 non-null   object
 8   user                           2073 non-null   object
 9   is_quote_status                2073 non-null   object
 10  retweet_count                  2073 non-null   object
 11  favorite_count                 2073 non-null   object
 12  favorited                      2073 non-null   bool
 13  retweeted                      2073 non-null   bool
 14  possibly_sensitive             2073 non-null   bool
 15  possibly_sensitive_appealable  2073 non-null   bool
 16  lang                           2073 non-null   object
dtypes: bool(5), datetime64[ns, UTC](1), object(11)
memory usage: 220.7+ KB

**Define**<br>
Incorrect Datatype; the retweet_count, favorite_count columns have string datatype(object) instead of the integer datatype.<br>
- Use the astype method to change the datatype of the retweet_count, favorite_count columns.

**Code**

In [57]:
Int_columns = ['retweet_count', 'favorite_count']

for Int_column in Int_columns:
    api_data_copy[Int_column] = api_data_copy[Int_column].astype(int)

**Test**

In [58]:
# checking the datatype of the columns in the int_columns list
api_data_copy[Int_columns].dtypes

retweet_count     int32
favorite_count    int32
dtype: object

<b><i><u>Original_data Dataframe Tidyness Issues</u></i></b>
<ol>
<li>Multiple variables are in a single column. The text column must be split into three columns, the text, rating, and text_link columns.</li>
<li>Column headers are values, not variable names (the doggo, floofer, pupper, puppo columns).</li>
<li>Multiple variables in the source column should be split into two distinct columns (the source link and source text columns).</li>
</ol>

**Define**<br>
Multiple variables in a column; the text column should be separated into three columns (text, rating, and text_link columns).<br>
- Use the str.extract and regular expressions to extract the textlinks and rating.
- Use the text_cleaner function to obtain the clean text.

**Code**

In [59]:
def text_cleaner(df, column, sep1, sep2):
    '''The Returns the cleaned text into a column

Parameters:
df: Pandas DataFrame
    The name of the dataframe.
column: str
    The name of the column to be cleaned.
sep1: str
    The name of the first column used for cleaning.
sep2: str
    The name of the second column used for cleaning.
    '''
    sep1_tuple = tuple(set(df[sep1].to_list() + ['. 1']))
    sep2_tuple = tuple(set(df[sep2].to_list() + ['. 1']))
    for item1 in sep1_tuple:
        df[column] = df[column].str.replace(str(item1), '')
    for item2 in sep2_tuple:
        df[column] = df[column].str.replace(str(item2), '')

In [60]:
original_data_copy['text_rating'] = original_data_copy.text.str.extract(r'(\d+/\d+)')
original_data_copy['text_link'] = original_data_copy.text.str.extract(r'(https:/.*$|htt.*$)')
text_cleaner(original_data_copy, 'text', 'text_rating', 'text_link')
original_data_copy['text'] = original_data_copy['text'].apply(lambda x: x[:-1])

C:\Users\HP\AppData\Local\Temp/ipykernel_6524/2490793743.py:17: FutureWarning: The default value of regex will change from True to False in a future version.
  df[column] = df[column].str.replace(str(item1), '')
C:\Users\HP\AppData\Local\Temp/ipykernel_6524/2490793743.py:19: FutureWarning: The default value of regex will change from True to False in a future version.
  df[column] = df[column].str.replace(str(item2), '')

**Test**

In [61]:
original_data_copy.text[0]

"This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut"

In [62]:
original_data_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2297 entries, 0 to 2355
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2297 non-null   int64
 1   timestamp           2297 non-null   datetime64[ns, UTC]
 2   source              2297 non-null   object
 3   text                2297 non-null   object
 4   expanded_urls       2297 non-null   object
 5   rating_numerator    2297 non-null   int64
 6   rating_denominator  2297 non-null   int64
 7   name                1501 non-null   object
 8   doggo               94 non-null     object
 9   floofer             10 non-null     object
 10  pupper              255 non-null    object
 11  puppo               29 non-null     object
 12  text_rating         2297 non-null   object
 13  text_link           2287 non-null   object
dtypes: datetime64[ns, UTC](1), int64(3), object(10)
memory usage: 333.7+ KB

**Define**<br>
Column headers are values, not variable names; the doggo, floofer, pupper, puppo columns.
- Merge the doggo, floofer, pupper and puppo columns to form a new column named dog_type.
- Drop the doggo, floofer, pupper and puppo columns

**Code**

In [63]:
#merging the four columns into one
original_data_copy['dog_type'] = original_data_copy['doggo'].fillna('') + original_data_copy['floofer'].fillna('') + original_data_copy['pupper'].fillna('') + original_data_copy['puppo'].fillna('')
original_data_copy.dog_type = original_data_copy.dog_type.replace('', NaN)
# dropping the four columns
original_data_copy.drop(columns=['doggo', 'floofer', 'pupper', 'puppo'], inplace=True)

**Test**

In [64]:
original_data_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2297 entries, 0 to 2355
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2297 non-null   int64
 1   timestamp           2297 non-null   datetime64[ns, UTC]
 2   source              2297 non-null   object
 3   text                2297 non-null   object
 4   expanded_urls       2297 non-null   object
 5   rating_numerator    2297 non-null   int64
 6   rating_denominator  2297 non-null   int64
 7   name                1501 non-null   object
 8   text_rating         2297 non-null   object
 9   text_link           2287 non-null   object
 10  dog_type            374 non-null    object
dtypes: datetime64[ns, UTC](1), int64(3), object(7)
memory usage: 279.9+ KB

**Define**<br>
Multiple variables in the source column should be split into two distinct columns (the source link and source text columns).<br>
- Use the str.extract and regular expressions to extract the sourcelinks, and sourcetext from the source columns.
- Use the apply function to edit the string in the columns.

**Code**

In [65]:
#extracting the link in the source column and assigning it to a new column; the source link column
original_data_copy['source_link'] = original_data_copy.source.str.extract(r'(http.*"\s)')
original_data_copy.source_link = original_data_copy.source_link.apply(lambda x: x[:-2])

#extracting the text in the source column and assigning it to a new column; the source text column
original_data_copy['source_text'] = original_data_copy.source.str.extract(r'(>.*<)')
original_data_copy.source_text = original_data_copy.source_text.apply(lambda x: x[1:-1])

#dropping the source column.
original_data_copy.drop(columns=['source'],inplace=True)

**Test**

In [66]:
original_data_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2297 entries, 0 to 2355
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2297 non-null   int64
 1   timestamp           2297 non-null   datetime64[ns, UTC]
 2   text                2297 non-null   object
 3   expanded_urls       2297 non-null   object
 4   rating_numerator    2297 non-null   int64
 5   rating_denominator  2297 non-null   int64
 6   name                1501 non-null   object
 7   text_rating         2297 non-null   object
 8   text_link           2287 non-null   object
 9   dog_type            374 non-null    object
 10  source_link         2297 non-null   object
 11  source_text         2297 non-null   object
dtypes: datetime64[ns, UTC](1), int64(3), object(8)
memory usage: 297.8+ KB

<b><i><u>Api_data Dataframe Tidyness Issues</u></i></b>
<ol>
<li>Multiple variables in a column; the full_text column should be separated into three columns (text, rating, and text_link columns).</li>
<li>Multiple variables in a column; the display_text_range column.
    </li>
<li>Multiple variables in a column; the entities, extended_entities, user, place, retweeted_status, and quoted_status columns contained in dictionaries, should be removed from the data frame and used to form new tables.</li>
<li>Multiple variables in a column; the source column should be split into two distinct columns (the source link and source text columns).</li>
</ol>

**Define**<br>
Multiple variables in a column; the full_text column should be separated into three columns (full_text, full_text_rating, and full_text_link columns).
- Use the str.extract and regular expressions to extract the full_text_rating, and full_text_link.
- Use the text_cleaner function to obtain the clean full_text.

**Code**

In [67]:
api_data_copy['full_text_rating'] = api_data_copy.full_text.str.extract(r'(\d+/\d+0)')
api_data_copy['full_text_link'] = api_data_copy.full_text.str.extract(r'(https:/.*$|htt.*$)')
text_cleaner(api_data_copy, 'full_text', 'full_text_rating', 'full_text_link')
api_data_copy['full_text'] = api_data_copy['full_text'].apply(lambda x: x[:-1])

C:\Users\HP\AppData\Local\Temp/ipykernel_6524/2490793743.py:17: FutureWarning: The default value of regex will change from True to False in a future version.
  df[column] = df[column].str.replace(str(item1), '')
C:\Users\HP\AppData\Local\Temp/ipykernel_6524/2490793743.py:19: FutureWarning: The default value of regex will change from True to False in a future version.
  df[column] = df[column].str.replace(str(item2), '')

**Test**

In [68]:
api_data_copy['full_text'][0]

"This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut"

**Define**<br>
Multiple variables in a column; the display_text_range column.<br>
- Extract the second item in the list using the apply method and assign to a new column called display_text_length.
- Drop the display_text_range column.

**Code**

In [69]:
api_data_copy['display_text_length'] = api_data_copy['display_text_range'].apply(lambda x: x[1])
api_data_copy.drop(columns=['display_text_range'], inplace=True)

**Test**

In [70]:
api_data_copy.display_text_length.head()

No 1     85
No 2    138
No 3    121
No 4     79
No 5    138
Name: display_text_length, dtype: int64

**Define**<br>
Multiple variables in a column; the entities, extended_entities, user, place, retweeted_status, and quoted_status columns contained in dictionaries, should be removed from the data frame and used to form new tables.<br>
The place, quoted_status and retweeted_status were dropped early.<br>
- Use the open function to save the entities, extended_entities, and user dictionaries as flat files
- Remove the entities, extended_entities, and user from the dataframe.

**Code**

In [71]:
entities = api_data_copy['entities'].to_dict()
extended_entities = api_data_copy['extended_entities'].to_dict()
user = api_data_copy['user'].to_dict()

file1 = open('Datasets/entities.txt', 'w', encoding='utf-8')
file2 = open('Datasets/extended_entities.txt', 'w', encoding='utf-8')
file3 = open('Datasets/user.txt', 'w', encoding='utf-8')

file1.write(str(entities))
file2.write(str(extended_entities))
file3.write(str(user))

file1.close()
file2.close()
file3.close()

api_data_copy.drop(columns=['entities', 'extended_entities', 'user'], inplace=True)

**Test**

In [72]:
api_data_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2073 entries, No 1 to No 2354
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   created_at                     2073 non-null   datetime64[ns, UTC]
 1   id                             2073 non-null   object
 2   full_text                      2073 non-null   object
 3   truncated                      2073 non-null   bool
 4   source                         2073 non-null   object
 5   is_quote_status                2073 non-null   object
 6   retweet_count                  2073 non-null   int32
 7   favorite_count                 2073 non-null   int32
 8   favorited                      2073 non-null   bool
 9   retweeted                      2073 non-null   bool
 10  possibly_sensitive             2073 non-null   bool
 11  possibly_sensitive_appealable  2073 non-null   bool
 12  lang                           2073 non-null   object
 13  full_text_rating               2072 non-null   object
 14  full_text_link                 2073 non-null   object
 15  display_text_length            2073 non-null   int64
dtypes: bool(5), datetime64[ns, UTC](1), int32(2), int64(1), object(7)
memory usage: 188.3+ KB

**Define**<br>
Multiple variables in a column; the source column should be split into two distinct columns (the source link and source text columns).
- Use the str.extract and regular expressions to extract the sourcelinks, and sourcetext from the source columns.
- Use the apply function to edit the string in the columns.

**Code**

In [73]:
#extracting the link in the source column and assigning it to a new column; the source link column
api_data_copy['source_link'] = api_data_copy.source.str.extract(r'(http.*"\s)')
api_data_copy.source_link = api_data_copy.source_link.apply(lambda x: x[:-2])

#extracting the text in the source column and assigning it to a new column; the source text column
api_data_copy['source_text'] = api_data_copy.source.str.extract(r'(>.*<)')
api_data_copy.source_text = api_data_copy.source_text.apply(lambda x: x[1:-1])

#dropping the source column.
api_data_copy.drop(columns=['source'],inplace=True)

**Test**

In [74]:
api_data_copy[['source_text', 'source_link']].head()

             source_text                         source_link
No 1  Twitter for iPhone  http://twitter.com/download/iphone
No 2  Twitter for iPhone  http://twitter.com/download/iphone
No 3  Twitter for iPhone  http://twitter.com/download/iphone
No 4  Twitter for iPhone  http://twitter.com/download/iphone
No 5  Twitter for iPhone  http://twitter.com/download/iphone

<b><i><u>Observations</u></i></b>
<ol>
<li>The jpg_url, img_num, p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog columns should be renamed for clarity.</li>
<li>Every element in the truncated, retweeted columns in the api_data dataframe has the value False.<br>
These Columns should be dropped, seeing they are too monotonous to offer any insight into our data.</li>
<li>The values in the p1, p2, p3 columns are not case consistent.</li>
</ol>

**Define**<br>
The jpg_url, img_num, p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog columns in the image_data dataframe should be renamed for clarity.<br>
- Use the rename method to rename the columns.

**Code**

In [75]:
image_data_copy.rename(columns=dict(p1='prediction_1', p2='prediction_2', p3='prediction_3',  p1_conf='prediction_1_confidence',
                               p2_conf='prediction_2_confidence', p3_conf='prediction_3_confidence',
                               p1_dog='prediction_1_dog', p2_dog='prediction_2_dog', p3_dog='prediction_3_dog', jpg_url='image_url', img_num='image_num'),
                  inplace=True)

**Test**

In [76]:
#The columns have been renamed.
image_data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tweet_id                 2075 non-null   int64
 1   image_url                2075 non-null   object
 2   image_num                2075 non-null   int64
 3   prediction_1             2075 non-null   object
 4   prediction_1_confidence  2075 non-null   float64
 5   prediction_1_dog         2075 non-null   bool
 6   prediction_2             2075 non-null   object
 7   prediction_2_confidence  2075 non-null   float64
 8   prediction_2_dog         2075 non-null   bool
 9   prediction_3             2075 non-null   object
 10  prediction_3_confidence  2075 non-null   float64
 11  prediction_3_dog         2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

**Define**<br>
Every element in the truncated, retweeted columns in the api_data dataframe has the value False.<br>
These Columns should be dropped, seeing they are too monotonous to offer any insight into our data.<br>
- Use the drop method to drop the truncated and retweeted columns.

**Code**

In [77]:
api_data_copy.drop(columns=['truncated', 'retweeted'], inplace=True)

**Test**

In [78]:
# the columns were dropped.
api_data_copy.columns

Index(['created_at', 'id', 'full_text', 'is_quote_status', 'retweet_count',
       'favorite_count', 'favorited', 'possibly_sensitive',
       'possibly_sensitive_appealable', 'lang', 'full_text_rating',
       'full_text_link', 'display_text_length', 'source_link', 'source_text'],
      dtype='object')

**Define**<br>
The values in the p1, p2, p3 columns are not case consistent.
- Use the apply function to do some string formatting.

**Code**

In [79]:
image_data_copy['prediction_1'] = image_data_copy['prediction_1'].apply(lambda x: x.title())
image_data_copy['prediction_2'] = image_data_copy['prediction_2'].apply(lambda x: x.title())
image_data_copy['prediction_3'] = image_data_copy['prediction_3'].apply(lambda x: x.title())

**Test**

In [80]:
image_data_copy[['prediction_1', 'prediction_2', 'prediction_3']].head()

             prediction_1        prediction_2         prediction_3
0  Welsh_Springer_Spaniel              Collie    Shetland_Sheepdog
1                 Redbone  Miniature_Pinscher  Rhodesian_Ridgeback
2         German_Shepherd            Malinois           Bloodhound
3     Rhodesian_Ridgeback             Redbone   Miniature_Pinscher
4      Miniature_Pinscher          Rottweiler             Doberman

<b>Reassessing the cleaned original_data dataframe.</b>

In [81]:
original_data_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2297 entries, 0 to 2355
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2297 non-null   int64
 1   timestamp           2297 non-null   datetime64[ns, UTC]
 2   text                2297 non-null   object
 3   expanded_urls       2297 non-null   object
 4   rating_numerator    2297 non-null   int64
 5   rating_denominator  2297 non-null   int64
 6   name                1501 non-null   object
 7   text_rating         2297 non-null   object
 8   text_link           2287 non-null   object
 9   dog_type            374 non-null    object
 10  source_link         2297 non-null   object
 11  source_text         2297 non-null   object
dtypes: datetime64[ns, UTC](1), int64(3), object(8)
memory usage: 297.8+ KB

<b>The dog_type column still has too many missing values, it has to be dropped.</b>

In [82]:
original_data_copy.drop(columns=['dog_type'], inplace=True)

<b>The name column also has too many missing values and does not offer any insight into our data, it can also be dropped.</b>

In [83]:
original_data_copy.drop(columns=['name'], inplace=True)

<b>The text_link columns has low percentage of missing values, the rows containing the missing values should be dropped.</b>

In [84]:
original_data_copy.dropna(subset=['text_link'], inplace=True)

In [85]:
#checking the cleaned dataframe
original_data_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2287 entries, 0 to 2355
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2287 non-null   int64
 1   timestamp           2287 non-null   datetime64[ns, UTC]
 2   text                2287 non-null   object
 3   expanded_urls       2287 non-null   object
 4   rating_numerator    2287 non-null   int64
 5   rating_denominator  2287 non-null   int64
 6   text_rating         2287 non-null   object
 7   text_link           2287 non-null   object
 8   source_link         2287 non-null   object
 9   source_text         2287 non-null   object
dtypes: datetime64[ns, UTC](1), int64(3), object(6)
memory usage: 196.5+ KB

<b>Reassessing the cleaned image_data dataframe.</b>

In [86]:
image_data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   tweet_id                 2075 non-null   int64
 1   image_url                2075 non-null   object
 2   image_num                2075 non-null   int64
 3   prediction_1             2075 non-null   object
 4   prediction_1_confidence  2075 non-null   float64
 5   prediction_1_dog         2075 non-null   bool
 6   prediction_2             2075 non-null   object
 7   prediction_2_confidence  2075 non-null   float64
 8   prediction_2_dog         2075 non-null   bool
 9   prediction_3             2075 non-null   object
 10  prediction_3_confidence  2075 non-null   float64
 11  prediction_3_dog         2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

<b>Reassessing the cleaned api_data dataframe.</b>

In [87]:
api_data_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2073 entries, No 1 to No 2354
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   created_at                     2073 non-null   datetime64[ns, UTC]
 1   id                             2073 non-null   object
 2   full_text                      2073 non-null   object
 3   is_quote_status                2073 non-null   object
 4   retweet_count                  2073 non-null   int32
 5   favorite_count                 2073 non-null   int32
 6   favorited                      2073 non-null   bool
 7   possibly_sensitive             2073 non-null   bool
 8   possibly_sensitive_appealable  2073 non-null   bool
 9   lang                           2073 non-null   object
 10  full_text_rating               2072 non-null   object
 11  full_text_link                 2073 non-null   object
 12  display_text_length            2073 non-null   int64
 13  source_link                    2073 non-null   object
 14  source_text                    2073 non-null   object
dtypes: bool(3), datetime64[ns, UTC](1), int32(2), int64(1), object(8)
memory usage: 200.4+ KB

<b>The full_text_rating columns has low percentage of missing values, the rows containing the missing values should be dropped.</b>

In [88]:
api_data_copy.dropna(subset=['full_text_rating'], inplace=True)

In [89]:
#checking the cleaned dataframe
api_data_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2072 entries, No 1 to No 2354
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   created_at                     2072 non-null   datetime64[ns, UTC]
 1   id                             2072 non-null   object
 2   full_text                      2072 non-null   object
 3   is_quote_status                2072 non-null   object
 4   retweet_count                  2072 non-null   int32
 5   favorite_count                 2072 non-null   int32
 6   favorited                      2072 non-null   bool
 7   possibly_sensitive             2072 non-null   bool
 8   possibly_sensitive_appealable  2072 non-null   bool
 9   lang                           2072 non-null   object
 10  full_text_rating               2072 non-null   object
 11  full_text_link                 2072 non-null   object
 12  display_text_length            2072 non-null   int64
 13  source_link                    2072 non-null   object
 14  source_text                    2072 non-null   object
dtypes: bool(3), datetime64[ns, UTC](1), int32(2), int64(1), object(8)
memory usage: 200.3+ KB

<b>The three dataframes have been cleaned and tidied and now need to be merged</b>

In [90]:
merged_data = pd.merge(original_data_copy,image_data_copy, on='tweet_id')

<b>Making a new column with the Image Prediction Data</b>

In [91]:
List = []
for index, p in enumerate(merged_data[['prediction_1_confidence', 'prediction_2_confidence', 'prediction_3_confidence']].values):
    p1, p2, p3 = p
    if max(p1,p2,p3) == p1:
        value = merged_data['prediction_1'].iloc[index]
        List.append(value)
    elif max(p1,p2,p3) == p2:
        value = merged_data['prediction_2'].iloc[index]
        List.append(value)
    else:
        value = merged_data['prediction_3'].iloc[index]
        List.append(value)
        
merged_data['predicted_breed'] = List

In [92]:
master_data = pd.merge(merged_data, api_data_copy, left_on=['tweet_id'], right_on=['id'])

<b>Assessing the master_data Dataframe</b>

In [93]:
master_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2072 entries, 0 to 2071
Data columns (total 37 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   tweet_id                       2072 non-null   object
 1   timestamp                      2072 non-null   datetime64[ns, UTC]
 2   text                           2072 non-null   object
 3   expanded_urls                  2072 non-null   object
 4   rating_numerator               2072 non-null   int64
 5   rating_denominator             2072 non-null   int64
 6   text_rating                    2072 non-null   object
 7   text_link                      2072 non-null   object
 8   source_link_x                  2072 non-null   object
 9   source_text_x                  2072 non-null   object
 10  image_url                      2072 non-null   object
 11  image_num                      2072 non-null   int64
 12  prediction_1                   2072 non-null   object
 13  prediction_1_confidence        2072 non-null   float64
 14  prediction_1_dog               2072 non-null   bool
 15  prediction_2                   2072 non-null   object
 16  prediction_2_confidence        2072 non-null   float64
 17  prediction_2_dog               2072 non-null   bool
 18  prediction_3                   2072 non-null   object
 19  prediction_3_confidence        2072 non-null   float64
 20  prediction_3_dog               2072 non-null   bool
 21  predicted_breed                2072 non-null   object
 22  created_at                     2072 non-null   datetime64[ns, UTC]
 23  id                             2072 non-null   object
 24  full_text                      2072 non-null   object
 25  is_quote_status                2072 non-null   object
 26  retweet_count                  2072 non-null   int32
 27  favorite_count                 2072 non-null   int32
 28  favorited                      2072 non-null   bool
 29  possibly_sensitive             2072 non-null   bool
 30  possibly_sensitive_appealable  2072 non-null   bool
 31  lang                           2072 non-null   object
 32  full_text_rating               2072 non-null   object
 33  full_text_link                 2072 non-null   object
 34  display_text_length            2072 non-null   int64
 35  source_link_y                  2072 non-null   object
 36  source_text_y                  2072 non-null   object
dtypes: bool(6), datetime64[ns, UTC](2), float64(3), int32(2), int64(4), object(20)
memory usage: 514.0+ KB

<b>The full_text, full_text_rating, full_text_link, tweet_id, created_at, source_text_x, source_link_x,  and 
the text, text_rating, text_link, id, timestamp, source_text_y, source_link_y columns respectively are identical in terms of values, one of these identical columns in each case needs to be dropped.</b>

In [94]:
master_data.drop(columns=['text', 'text_rating', 'text_link', 'id', 'timestamp', 'source_text_y', 'source_link_y'],
                 inplace=True)

<b>Resetting the order of the columns in the master_data dataframe.</b>

In [95]:
list_of_columns = ['tweet_id', 'created_at', 'full_text', 'full_text_link', 'full_text_rating', 'rating_denominator', 'rating_numerator',
     'display_text_length','lang', 'retweet_count', 'favorite_count', 'favorited', 'possibly_sensitive',
     'possibly_sensitive_appealable', 'is_quote_status', 'source_text_x', 'source_link_x', 'expanded_urls', 'image_url',
     'image_num', 'prediction_1', 'prediction_1_confidence', 'prediction_1_dog', 'prediction_2', 'prediction_2_confidence',
     'prediction_2_dog', 'prediction_3', 'prediction_3_confidence', 'prediction_3_dog', 'predicted_breed']

master_data = master_data.reindex(columns=list_of_columns)

<b>The full_text_rating is the combination of the rating_denominator and rating_numerator columns. The rating_denominator and rating_numerator columns need to be dropped to avoid data redundancy.</b>

In [96]:
master_data.drop(columns=['rating_denominator', 'rating_numerator'], inplace=True)

<b>The source_text_x and the source_link_x need to be renamed for clarity.</b>

In [97]:
master_data.rename(columns=dict(source_text_x = 'source_text', source_link_x = 'source_link'), inplace=True)

<b><u>The cleaned Master_data dataframe</u></b>

In [98]:
master_data.head()

,tweet_id,created_at,full_text,full_text_link,full_text_rating,display_text_length,lang,retweet_count,favorite_count,favorited,possibly_sensitive,possibly_sensitive_appealable,is_quote_status,source_text,source_link,expanded_urls,image_url,image_num,prediction_1,prediction_1_confidence,prediction_1_dog,prediction_2,prediction_2_confidence,prediction_2_dog,prediction_3,prediction_3_confidence,prediction_3_dog,predicted_breed
0,892420643555336193,2017-08-01 16:23:56+00:00,This is Phineas. He's a mystical boy. Only eve...,https://t.co/MgUWQ76dJU,13/10,85,en,8853,39467,False,False,False,False,Twitter for iPhone,http://twitter.com/download/iphone,https://twitter.com/dog_rates/status/892420643...,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,Orange,0.097049,False,Bagel,0.085851,False,Banana,0.076110,False,Orange
1,892177421306343426,2017-08-01 00:17:27+00:00,This is Tilly. She's just checking pup on you....,https://t.co/0Xxu71qeIV,13/10,138,en,6514,33819,False,False,False,False,Twitter for iPhone,http://twitter.com/download/iphone,https://twitter.com/dog_rates/status/892177421...,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,Papillon,0.068957,True,Chihuahua
2,891815181378084864,2017-07-31 00:18:03+00:00,This is Archie. He is a rare Norwegian Pouncin...,https://t.co/wUnZnhtVJB,12/10,121,en,4328,25461,False,False,False,False,Twitter for iPhone,http://twitter.com/download/iphone,https://twitter.com/dog_rates/status/891815181...,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,Malamute,0.078253,True,Kelpie,0.031379,True,Chihuahua
3,891689557279858688,2017-07-30 15:58:51+00:00,This is Darla. She commenced a snooze mid meal...,https://t.co/tD36da7qLQ,13/10,79,en,8964,42908,False,False,False,False,Twitter for iPhone,http://twitter.com/download/iphone,https://twitter.com/dog_rates/status/891689557...,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,Paper_Towel,0.170278,False,Labrador_Retriever,0.168086,True,Spatula,0.040836,False,Paper_Towel
4,891327558926688256,2017-07-29 16:00:24+00:00,This is Franklin. He would like you to stop ca...,https://t.co/AtUZn91f7f,12/10,138,en,9774,41048,False,False,False,False,Twitter for iPhone,http://twitter.com/download/iphone,https://twitter.com/dog_rates/status/891327558...,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,Basset,0.555712,True,English_Springer,0.225770,True,German_Short-Haired_Pointer,0.175219,True,Basset

<b>Saving the master_data Dataframe</b>

In [99]:
master_data.to_csv('Datasets/twitter_archive_master.csv',index=False)